%h4 FORMS AVAILABLE
%ol
  %li 
    %a{:href => "http://localhost:4567/private_consent_1section1"} Private consent form page one section one
  %li
    %a{:href => "http://localhost:4567/private_consent_1section2"} Private consent form page one section two
  %li
    %a{:href => "http://localhost:4567/alcohol_1section1"} Alcohol Section One
  %li
    %a{:href => "http://localhost:4567/alcohol_1section2"} Alcohol Section Two
  %li
    %a{:href => "http://localhost:4567/alcohol_1section3"} Alcohol Section Three
  %li
    %a{:href => "http://localhost:4567/alcohol_1section4"} Alcohol Section Four
  %li 
    %a{:href => "http://localhost:4567/alcohol_1section5"} Alcohol Section Five